// ACE Медицина
force force ace_medical_ai_enabledFor = 2;
force force ace_medical_ai_requireItems = 0;
force force ace_medical_AIDamageThreshold = 1;
force force ace_medical_alternateArmorPenetration = true;
force force ace_medical_bleedingCoefficient = 0.2;
force force ace_medical_blood_bloodLifetime = 1;
force force ace_medical_blood_enabledFor = 0;
force force ace_medical_blood_maxBloodObjects = 500;
force force ace_medical_deathChance = 1;
force force ace_medical_dropWeaponUnconsciousChance = 0;
force force ace_medical_enableVehicleCrashes = true;
force force ace_medical_fatalDamageSource = 1;
force force ace_medical_fractureChance = 0.40031;
force force ace_medical_fractures = 1;
force force ace_medical_ivFlowRate = 0.5;
force force ace_medical_limbDamageThreshold = 4;
force force ace_medical_limping = 1;
force force ace_medical_painCoefficient = 0.6;
force force ace_medical_painUnconsciousChance = 0.05;
force force ace_medical_painUnconsciousThreshold = 0.98;
force force ace_medical_playerDamageThreshold = 4;
force force ace_medical_spontaneousWakeUpChance = 0.3;
force force ace_medical_spontaneousWakeUpEpinephrineBoost = 4;
force force ace_medical_statemachine_AIUnconsciousness = false;
force force ace_medical_statemachine_cardiacArrestBleedoutEnabled = false;
force force ace_medical_statemachine_cardiacArrestTime = 300;
force force ace_medical_statemachine_fatalInjuriesAI = 0;
force force ace_medical_statemachine_fatalInjuriesPlayer = 2;
force force ace_medical_useLimbDamage = 2;
force force ace_medical_vitals_simulateSpO2 = true;
force force ace_medical_windowOnWakeUp = 1;

// ACE Медицина Интерфейс
ace_medical_feedback_bloodVolumeEffectType = 0;
ace_medical_feedback_enableHUDIndicators = true;
ace_medical_feedback_painEffectType = 0;
ace_medical_gui_bloodLossColor_0 = [1,1,1,1];
ace_medical_gui_bloodLossColor_1 = [1,0.94,0.48,1];
ace_medical_gui_bloodLossColor_2 = [1,0.87,0.25,1];
ace_medical_gui_bloodLossColor_3 = [1,0.79,0.17,1];
ace_medical_gui_bloodLossColor_4 = [1,0.71,0.11,1];
ace_medical_gui_bloodLossColor_5 = [1,0.62,0.05,1];
ace_medical_gui_bloodLossColor_6 = [1,0.53,0.01,1];
ace_medical_gui_bloodLossColor_7 = [1,0.42,0,1];
ace_medical_gui_bloodLossColor_8 = [1,0.29,0,1];
ace_medical_gui_bloodLossColor_9 = [1,0,0,1];
ace_medical_gui_bodyPartOutlineColor = [1,1,1,1];
ace_medical_gui_damageColor_0 = [1,1,1,1];
ace_medical_gui_damageColor_1 = [0.52,0.73,1,1];
ace_medical_gui_damageColor_2 = [0.38,0.68,1,1];
ace_medical_gui_damageColor_3 = [0.37,0.6,1,1];
ace_medical_gui_damageColor_4 = [0.35,0.53,1,1];
ace_medical_gui_damageColor_5 = [0.33,0.45,1,1];
ace_medical_gui_damageColor_6 = [0.3,0.37,1,1];
ace_medical_gui_damageColor_7 = [0.25,0.29,1,1];
ace_medical_gui_damageColor_8 = [0.18,0.18,1,1];
ace_medical_gui_damageColor_9 = [0,0,1,1];
ace_medical_gui_enableActions = 0;
ace_medical_gui_enableMedicalMenu = 1;
ace_medical_gui_enableSelfActions = true;
ace_medical_gui_interactionMenuShowTriage = 1;
force ace_medical_gui_maxDistance = 3;
ace_medical_gui_openAfterTreatment = true;
ace_medical_gui_peekMedicalInfoReleaseDelay = 1;
ace_medical_gui_peekMedicalOnHit = false;
ace_medical_gui_peekMedicalOnHitDuration = 1;
force ace_medical_gui_showBleeding = 2;
force ace_medical_gui_showBloodlossEntry = true;
force ace_medical_gui_showDamageEntry = false;
ace_medical_gui_tourniquetWarning = false;

// ACE Медицина Лечение
force ace_medical_treatment_advancedBandages = 1;
force ace_medical_treatment_advancedDiagnose = 2;
force ace_medical_treatment_advancedMedication = true;
force ace_medical_treatment_allowBodyBagUnconscious = false;
force ace_medical_treatment_allowGraveDigging = 1;
force ace_medical_treatment_allowLitterCreation = false;
force ace_medical_treatment_allowSelfIV = 1;
force ace_medical_treatment_allowSelfPAK = 1;
force ace_medical_treatment_allowSelfStitch = 1;
force ace_medical_treatment_allowSharedEquipment = 0;
force ace_medical_treatment_bandageEffectiveness = 0.8;
ace_medical_treatment_bandageRollover = true;
force ace_medical_treatment_clearTrauma = 1;
force ace_medical_treatment_consumePAK = 0;
force ace_medical_treatment_consumeSurgicalKit = 0;
force ace_medical_treatment_convertItems = 0;
force ace_medical_treatment_cprSuccessChanceMax = 0.4;
force ace_medical_treatment_cprSuccessChanceMin = 0.4;
force ace_medical_treatment_graveDiggingMarker = false;
force ace_medical_treatment_holsterRequired = 0;
force ace_medical_treatment_litterCleanupDelay = 600;
force ace_medical_treatment_locationAdenosine = 0;
force ace_medical_treatment_locationEpinephrine = 0;
force ace_medical_treatment_locationIV = 0;
force ace_medical_treatment_locationMorphine = 0;
force ace_medical_treatment_locationPAK = 0;
force ace_medical_treatment_locationsBoostTraining = true;
force ace_medical_treatment_locationSplint = 0;
force ace_medical_treatment_locationSurgicalKit = 0;
force ace_medical_treatment_maxLitterObjects = 500;
force ace_medical_treatment_medicAdenosine = 0;
force ace_medical_treatment_medicEpinephrine = 0;
force ace_medical_treatment_medicIV = 0;
force ace_medical_treatment_medicMorphine = 0;
force ace_medical_treatment_medicPAK = 0;
force ace_medical_treatment_medicSplint = 0;
force ace_medical_treatment_medicSurgicalKit = 0;
force ace_medical_treatment_numericalPulse = 0;
force ace_medical_treatment_timeCoefficientPAK = 1;
force ace_medical_treatment_treatmentTimeAutoinjector = 7;
force ace_medical_treatment_treatmentTimeBodyBag = 15;
ace_medical_treatment_treatmentTimeCoeffZeus = 1;
force ace_medical_treatment_treatmentTimeCPR = 15;
force ace_medical_treatment_treatmentTimeGrave = 30;
force ace_medical_treatment_treatmentTimeIV = 8;
force ace_medical_treatment_treatmentTimeSplint = 7;
force ace_medical_treatment_treatmentTimeTourniquet = 3;
force ace_medical_treatment_treatmentTimeTrainedAutoinjector = 5;
force ace_medical_treatment_treatmentTimeTrainedIV = 6.01;
force ace_medical_treatment_treatmentTimeTrainedSplint = 4;
force ace_medical_treatment_treatmentTimeTrainedTourniquet = 2;
force ace_medical_treatment_woundReopenChance = 0.3;
force ace_medical_treatment_woundStitchTime = 5;
